[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
homeassistant = "==2024.2.*"
voluptuous = "==0.13.*"
httpx = "==0.26.*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
